<!-- started by Rana -->

{% extends 'profile/profile_base.html' %}

{% block main_content %}

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_style.css') }}">
</head>

<body>
    <div class="container">
        <h1>My Points</h1>

        <h3><strong>Total Points:</strong> {{ total_points }}</h3>

        <h3><strong>Current Position on Leaderboard:</strong> </h3>


        <h2>Points History</h2>
    </div>

</body>

{% endblock %}

