<!-- started by Rana -->

{% extends 'base.html' %}

{% block content %}

<head>
    <title>My Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_style.css') }}">
</head>

<body>

    <div class="sidebar">
        <ul>
            <li><a href="{{ url_for('my_profile') }}">My Profile</a></li>
            <li><a href="{{ url_for('my_points') }}">My Points</a></li>
            <li><a href="{{ url_for('my_ratings') }}">My Emoji Ratings</a></li>
            <li><a href="{{ url_for('my_suggestions') }}">My Suggestions</a></li>
            <li><a href="{{ url_for('my_votes') }}">My Votes</a></li>
            <li><a href="{{ url_for('my_account') }}">My Account</a></li>
        </ul>
    </div>
    
    

    <div class="main-content">

        {% block main_content %}{% endblock %}

    </div>

 
</body>
{% endblock %}