<!-- started by Rana -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Survey{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <span class="title">Survey App</span>
        <div style="text-align: center;">
            <a href="/" class="nav-link">Home</a>
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('add_suggestion') }}" class="nav-link">Post Suggestion</a>
            <a href="{{ url_for('voting_view') }}" class="nav-link">Voting View</a>
            <a href="{{ url_for('my_profile') }}" class="nav-link">My Profile</a>
            {% if current_user.IsAdmin == 1 %}
            <a href="{{ url_for('user_management') }}" class="nav-link">User Management</a>
            {% endif %}
            <a href="{{ url_for('logout') }}" class="nav-link">Log Out</a>
            {% else %}
            <a href="{{ url_for('login') }}" class="nav-link">Log In</a>
            {% endif %}
        </div>
    </div>


    {% block content %}{% endblock %}

</body>

</html>