<div id="filters">
    <!-- Suggestion Filter Form -->
    <form method="get" action="{{ url_for('profile') }}">
        <label for="suggestion_filter">Filter Suggestions:</label>
        <select name="suggestion_filter" id="suggestion_filter">
            <option value="" {% if suggestion_filter == '' %}selected{% endif %}>All</option>
            <option value="today" {% if suggestion_filter == 'today' %}selected{% endif %}>Today</option>
            <option value="yesterday" {% if suggestion_filter == 'yesterday' %}selected{% endif %}>Yesterday</option>
            <option value="last_week" {% if suggestion_filter == 'last_week' %}selected{% endif %}>Last Week</option>
            <option value="highest_net_votes" {% if suggestion_filter == 'highest_net_votes' %}selected{% endif %}>Highest Net Votes</option>
            <option value="lowest_net_votes" {% if suggestion_filter == 'lowest_net_votes' %}selected{% endif %}>Lowest Net Votes</option>
            <option value="keyword" {% if request.args.get('vote_filter') == 'keyword' %} selected {% endif %}>Containing Keywords</option>
        </select>
        <input type="text" name="vote_keyword" placeholder="Enter keyword" value="{{ request.args.get('vote_keyword', '') }}" {% if request.args.get('vote_filter') != 'keyword' %} style="display:none;" {% endif %} />
        <button type="submit">Apply Filter</button>
    </form>

    <!-- Vote Filter Form -->
    <form method="get" action="{{ url_for('profile') }}">
        <label for="vote_filter">Filter Votes:</label>
        <select name="vote_filter" id="vote_filter">
            <option value="" {% if vote_filter == '' %}selected{% endif %}>All</option>
            <option value="today" {% if request.args.get('vote_filter') == 'today' %} selected {% endif %}>Voted Today</option>
            <option value="yesterday" {% if request.args.get('vote_filter') == 'yesterday' %} selected {% endif %}>Voted Yesterday</option>
            <option value="last_week" {% if request.args.get('vote_filter') == 'last_week' %} selected {% endif %}>Voted in the Last Week</option>
            <option value="yes" {% if request.args.get('vote_filter') == 'yes' %} selected {% endif %}>Voted 'Yes'</option>
            <option value="no" {% if request.args.get('vote_filter') == 'no' %} selected {% endif %}>Voted 'No'</option>
            <option value="keyword" {% if request.args.get('vote_filter') == 'keyword' %} selected {% endif %}>Containing Keywords</option>
        </select>
        <input type="text" name="vote_keyword" placeholder="Enter keyword" value="{{ request.args.get('vote_keyword', '') }}" {% if request.args.get('vote_filter') != 'keyword' %} style="display:none;" {% endif %} />
        <button type="submit">Apply Filter</button>
    </form>
</div>
