{% extends 'base.html' %}
{% block title %}Leaderboard{% endblock %}
{% block content %}
<div class="container">
    <h1>Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody id="leaderboard-body">
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const leaderboardBody = document.getElementById("leaderboard-body");

        if (!leaderboardBody || leaderboardBody.children.length > 0) {
            return;
        }

        fetch("/leaderboard-data")
        .then (response => response.json())
        .then(data => {
            data.forEach(user => {
                const row = document.createElement("tr");
                const username = document.createElement("td");
                const score = document.createElement("td");

                username.textContent = user.username;
                score.textContent = user.score !== null ? user.score : "-";

                row.appendChild(username);
                row.appendChild(score);

                leaderboardBody.appendChild(row);
            });
        })
        .catch(error => console.error("Cannot load leaderboard:", error));
    });
</script>
{% endblock %}